body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.4s, color 0.4s;
  }
  
 
  
  
  header {
    background: linear-gradient(to right, #fafafa, #f9f9fa);
    color: rgb(6, 85, 255);
    padding: 0.1.8em ;
    text-align: right;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
  }
 
  header p {
    margin: 0.3rem 0 1rem;
    font-size: 3rem;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    margin: 0 3px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(42, 40, 158);
    padding: 0.5em 1em;
    border-radius: 15px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  main {
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  section {
    background-color: white;
    border-radius: 12px;
    padding: 1.5em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 2em;
  }
  
  section img {
    display: block;
    margin: 0 auto 1rem;
    border-radius: 100px;
    width: 200px;
  }
  
  .dark-theme section {
    background-color: #1e1e1e;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
  }
  
  
  

  ul {
    padding-left: 20px;
    list-style-type: square;
  }
  